.overlay2 {
    --tw-bg-opacity: 0.5;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
  
.dialog2 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 24rem;
}
.empty-list {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}